body {
    font-family: Arial;
    text-align: center;
    background-image: url(https://th.bing.com/th/id/R.306b6617ae8d1a0db29d81f366ec64d4?rik=6czfvSdpB%2bSW7w&pid=ImgRaw&r=0);
    background-size:auto;
    background-position: center;
    margin: 0;
    padding: 20px;
}

h1 {
    color: #ffffff;
}


.jogo {
    display: grid;
    grid-template-columns: repeat(3, 100px);
    justify-content: center;
    grid-gap: 3px;
    margin: 20px auto;

}

button.posicao {
    width: 100px;
    height: 100px;
    background-color: #fff;
    color: black;
    font-size: 50px;
    border-radius: 30px;
    border-color: black;
    border-width: 5px;
}





.jogador {
    margin-top: 20px;
    font-size: 1.5em;
    color: #ffffff;
}
